// 引入清除默认样式
@import './reset.scss';

// 滚动条外观设置
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $base-menu-background;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(155, 155, 155);
  border-radius: 10px;
}
// 自定义 switch 组件的切换颜色
.cu-switch-class {
  --el-switch-on-color: #13ce66;
  --el-switch-off-color: #ffa502;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
// 上下10px
.mtb-10 {
  margin: 20px 0;
}
.br-10 {
  border-radius: 10px;
}
.fr {
  float: right;
}


