// 设置 scss 全局变量
// 基本颜色
$base-color: #409EFF;

// 底色
$base-global-backgroud: #F7FAFC;

// 左侧最大的菜单宽度
$base-menu-width: 220px;
// 左侧菜单最小宽度
$base-menu-min-width: 64px;
// 左侧菜单的背景颜色
$base-menu-background: #ffffff;

// 顶部导航的高度
$base-tabbar-height: 56px;

// 左侧菜单 logo 高度设置
$base-menu-logo-height: 50px;

// 左侧菜单 logo右侧文字大小
$base-logo-title-fontSize: 16px;